<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Drive | My-Drive</title>
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <main>
        <div>
            <h1>My Drive</h1>
            <% if(errors){ %>
                <% errors.forEach(error=> { %>
                    <p style="color: red;">
                        <%= error %>
                    </p>
                <% }) %>
            <% } %>
        </div>
        <%- include('./partials/upload-form') %>  
        <div>
            <div style="display: flex; gap: 10px;">
                <div><h3>Name</h3></div>
                <div><h3>Size</h3></div>
                <div><h3>Created On</h3></div>
                <div><h3>Path</h3></div>
            </div>
            <% if(folders && isAuth){ %>
                <% folders.forEach(folder=> { %>
                    <div style="display: flex; gap: 10px;" data-folder-id="<%= folder.id %>">
                        <a href="/my-drive/folders/<%= folder.id %>" class="folder-link" style="display: flex; gap: 10px">
                            <div class="folder-name-display">
                                <%= folder.name %>
                            </div>
                            <div>
                                <%= formatDate(folder.createdAt) %>
                            </div>
                        </a>
                        <!-- <button class="share-folder-btn" style="display: block;">Share</button> -->
                        <button class="share-folder-btn" onclick="openShareModal(<%= folder.id %>)">
                            🔗
                        </button>
                        <div class="modal" id="share-modal-form-<%= folder.id %>" style="display:none;">
                            <div class="modal-content"> 
                                <form id="share-folder-form-<%= folder.id %>" class="share-folder-form" style="display:flex; flex-direction: column; gap:5px; ">
                                    <h3>Share Folder: <%= folder.name %></h3>
                                    <label for="validDays">Valid Days:</label>
                                    <input type="number" id="validDays" name="validDays" placeholder="Expires In (days)" min="1" max="30" required>
                                    <div>
                                        <button type="button" class="cancel-share-btn" onclick="closeShareModel(<%= folder.id %>)">Cancel</button>
                                        <button type="button" onclick="generateShareLink(<%= folder.id %>, event)">Get Link</button>
                                    </div>
                                </form>
                                <div id="share-link-container-<%= folder.id %>" class="share-link-container" style="margin-top: 5px; display: none;"></div> 
                            </div>
                            
                        </div>
                        

                        <button class="rename-btn" type="button">Rename</button>
                        <form action="/my-drive/rename-folder/<%= folder.id %>" method="POST" class="rename-form" style="display:none;">
                            <input type="hidden" name="oldName" value="<%= folder.name %>">
                            <input type="text" name="newName" value="<%= folder.name %>" required>
                            <button type="button" class="cancel-rename-btn">Cancel</button>
                            <button type="submit">Save</button>
                        </form>
                        <form action="/my-drive/delete-folder/<%= folder.id %>" method="POST"
                            onsubmit="return confirm('Are you sure you want to delete this folder and all contents inside?')">
                            <button type="submit">🗑️</button>
                        </form>
                    </div>
                <% }) %>
            <% } %>
            <% if(files){ %>
                <% files.forEach(file=> { %>
                    <!-- <a href="" target="_blank" rel="noopener" style="display: flex; gap: 10px; text-decoration: none; color: inherit;"> -->
                    <div style="display: flex; gap: 10px;">
                        <div>
                            <%= file.name %>
                        </div>
                        <div>
                            <%= (file.size/(1024 * 1024)).toFixed(2) %> Mb
                        </div>
                        <div>
                            <%= formatDate(file.createdAt) %>
                        </div>
                        <div>
                            <%= file.url %>
                        </div>
                        <form action="/my-drive/download/<%= file.name %>?path=<%= file.url %>" method="POST" >
                            <button type="submit">Download</button>
                        </form>
                        <% if(isAuth){ %>
                            <form action="/my-drive/delete-file/<%= file.id %>" method="POST" 
                                onsubmit="return confirm('Are you sure you want to delete this file?')">
                                <button type="submit">🗑️</button>
                            </form>
                        <% } %>
                    </div>
                <% }) %>
            <% } %>
            <% if((!files && !folders) || (files.length === 0 && folders.length === 0)){ %>
                <h4>No contents to display...</h4>
            <% } %>
        </div>
    </main>

    <script>
        const renameBtns = document.querySelectorAll('.rename-btn');
        renameBtns.forEach(btn => {
            btn.addEventListener('click', ()=>{
                const folderContainer = btn.closest('[data-folder-id]');
                const renameForm = folderContainer.querySelector('.rename-form');
                const folderLink = folderContainer.querySelector('.folder-link')
                folderLink.style.display = 'none';
                renameForm.style.display = 'block';
                btn.style.display = 'none'
            })
        })

        document.querySelectorAll('.cancel-rename-btn').forEach(cancelBtn =>{
            cancelBtn.addEventListener('click', ()=>{
                const container = cancelBtn.closest('[data-folder-id]');
                const renameForm = container.querySelector('.rename-form');
                const folderLink = container.querySelector('.folder-link');
                const renameBtn = container.querySelector('.rename-btn');
                renameBtn.style.display = 'block';
                folderLink.style.display = 'flex';
                renameForm.style.display = 'none';
            })
        })

        document.addEventListener('click', (e) => {
            if (!newBtn.contains(e.target) && !dropdown.contains(e.target) 
                    && !uploadForm.contains(e.target) && !folderForm.contains(e.target)) {
                dropdown.style.display = 'none';
                uploadForm.style.display = 'none';
                folderForm.style.display = 'none';
            }
        });


        // Share Link
        function openShareModal(folderId) {
            const shareModal = document.getElementById(`share-modal-form-${folderId}`);
            shareModal.style.display = 'flex';

            function modalClickHandler(e) {
                if (e.target === shareModal) {
                    shareModal.style.display = 'none';
                    cleanup();
                }
            }

            function escHandler(e) {
                if (e.key === 'Escape') {
                    shareModal.style.display = 'none';
                    cleanup();
                }
            }

            function cleanup() {
                shareModal.removeEventListener('click', modalClickHandler);
                window.removeEventListener('keydown', escHandler);
            }

            shareModal.addEventListener('click', modalClickHandler);
            window.addEventListener('keydown', escHandler);
        }


        function closeShareModel(folderId){
            const shareModal = document.getElementById(`share-modal-form-${folderId}`);
            const shareLinkContainer = document.getElementById(`share-link-container-${folderId}`);
            const shareForm = document.getElementById(`share-folder-form-${folderId}`);
            shareLinkContainer.style.display = 'none';
            shareForm.style.display = 'flex';
            shareForm.reset();
            shareModal.style.display = 'none';
        }

        const generateShareLink = async (folderId, e) => {
            e.preventDefault();
            const form = document.getElementById(`share-folder-form-${folderId}`);
            const shareLinkContainer = document.getElementById(`share-link-container-${folderId}`);
            const validDays = form.validDays.value;

            try{
                const res = await fetch(`/my-drive/folder/${folderId}/share`, {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({ expiresInDays: validDays })
                })
                const data = await res.json();
                if(!data.success){
                    alert('Error generating link');
                }
                form.style.display = 'none';
                shareLinkContainer.style.display = 'block';
                shareLinkContainer.innerHTML = `
                    <input type="text" value="${data.shareLink}" readonly style="width: 100%;"/>
                    <p>Link expires at ${data.expiresAtDate}</p>
                    <button onclick="copyShareLink('${data.shareLink}'); closeShareModel(${folderId});">Copy Link</button>
                    <button onclick="closeShareModel(${folderId})">Close</button>
                `
            }catch(err){
                alert("Error generating link.");
                console.error(err);
                return;
            }
            console.log('Valid Days: ', validDays)
        }

        function copyShareLink(link){
            navigator.clipboard.writeText(link)
                .then(()=>{
                    alert('Link copied to clipboard');
                })
                .catch(err => {
                    alert('Error copying link');
                    console.error(err);
                })
            
        }


    </script>
    <style>
        .modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Dim background */
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1000;
        }
        .modal-content {
            background: white;
            padding: 20px;
            border-radius: 8px;
            min-width: 300px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
    </style>
</body>

</html>